{% extends "home/__base.html" %}
{% load staticfiles i18n %}
{% block content %}
  Hello World
  Most of the content on this page can be ignored. This is only useful if you are looking at how integration with reactjs would work.
  <div id="react-car" props="{'name': 'cool-car'}">
    {{ car }}
  </div>
  <div id="react-bus">
    {{ bus }}
  </div>
{% endblock %}
{% block javascript %}
  <script>
    var carProps = {{ car.render_props }};
    var busProps = {{ bus.render_props }};
  </script>
  <script src="{% static "home/js/react-bundle.js" %}"></script>
{% endblock %}
